:root {
    --grid-left-size: 15rem;
    --grid-right-size: 15rem;
    --grid-gap: 2rem;
}

main {
    padding: 0;
    max-width: 100%;
}

.contentGrid {
    display: grid;
    grid-template-columns: var(--grid-left-size) 1fr var(--grid-right-size);
    grid-template-rows: auto;
    grid-template-areas: "left main right";
    grid-gap: var(--grid-gap);
    height: calc(100% - 7rem);
    margin-top: 5rem;
    padding: 2rem 0;
    width: 100%;
    overflow: auto;
}
.contentGridLeft {
    grid-area: left;
}

.contentSection {
    width: 100%;
    background-color: var(--nord2);
    padding: 0.5rem 0;
}

.contentSectionTitle {
    margin-left: 1rem;    
}
.followedLanguages {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}
.followedLanguage {
    display: inline-flex;
    align-items: center;
    background-color: var(--nord10);
    border-radius: 100vh;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem;
    position: relative;
}
.followedLanguageRemove {
    display: none;
    color: var(--nord11);
    cursor: pointer;
    text-shadow: 
        0.1rem 0.1rem var(--nord3),
        0rem 0rem 0.2rem var(--nord3);
    font-weight: bold;
    border-radius: 100vh;
    margin: 0.1rem;
    transition: color 0.1s;
    position: absolute;
    right: 0.4rem;
}
.followedLanguage:hover .followedLanguageRemove {
    display: inline;
}
.followedLanguageRemove:hover {
    color: var(--nord12);
}

.optionsPaneSelector {
    display: flex;
    flex-direction: column;
}
.optionsPaneSelectorItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.5rem 0;
}
.optionsPaneSelectorIcon {
    margin: 0 1rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    transition: fill 0.1s;
}
.optionsPaneSelectorItem:hover .optionsPaneSelectorIcon {
    fill: var(--nord4);
}
.optionsPaneSelectorItem:hover {
    background-color: var(--nord3);
}
.optionsPaneSelectorSub {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.optionsPaneSelectorSubItem {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    transition: fill 0.1s;
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    padding: 0.2rem 0 0.2rem 2rem;
}
.optionsPaneSelectorSubIcon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    margin-right: 0.5rem;
    transition: fill 0.1s;
}

.contentGridCenter {
    grid-area: main;
}
.posts {
    margin-top: 1rem;
}

.contentGridRight {
    grid-area: right;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}