:root {
    --grid-left-size: 15rem;
    --grid-right-size: 15rem;
    --grid-gap: 2rem;
}

main {
    padding: 0;
    max-width: 100%;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: calc(100% - 4rem);
    height: 5rem;
    background-color: var(--nord1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}
.searchInput {
    font-size: 2.5rem;
    height: 2.5rem;
    transform: translateY(-0.25rem);
    border: none;
    outline: none;
    background-color: var(--nord2);
    color: var(--nord7);
}
.searchIcon {
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    transition: fill 0.1s;
}
.searchIcon:hover {
    fill: var(--nord4);
}

.menuButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.menuButton {
    width: 3rem;
    height: 3rem;
    fill: var(--nord7);
    transition: fill 0.1s;
}
.menuButton:hover {
    fill: var(--nord4);
}

.contentGrid {
    display: grid;
    grid-template-columns: var(--grid-left-size) 1fr var(--grid-right-size);
    grid-template-rows: auto;
    grid-template-areas: "left main right";
    grid-gap: var(--grid-gap);
    height: calc(100% - 7rem);
    margin-top: 5rem;
    padding: 2rem 0;
    width: 100%;
    overflow: auto;
}
.contentGridLeft {
    grid-area: left;
}

.contentSection {
    width: 100%;
    background-color: var(--nord2);
    padding: 0.5rem 0;
}

.contentSectionTitle {
    margin-left: 1rem;    
}
.followedLanguages {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}
.followedLanguage {
    display: inline-flex;
    align-items: center;
    background-color: var(--nord10);
    border-radius: 100vh;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem;
    position: relative;
}
.followedLanguageRemove {
    display: none;
    color: var(--nord11);
    cursor: pointer;
    text-shadow: 
        0.1rem 0.1rem var(--nord3),
        0rem 0rem 0.2rem var(--nord3);
    font-weight: bold;
    border-radius: 100vh;
    margin: 0.1rem;
    transition: color 0.1s;
    position: absolute;
    right: 0.4rem;
}
.followedLanguage:hover .followedLanguageRemove {
    display: inline;
}
.followedLanguageRemove:hover {
    color: var(--nord12);
}

.optionsPaneSelector {
    display: flex;
    flex-direction: column;
}
.optionsPaneSelectorItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.5rem 0;
}
.optionsPaneSelectorIcon {
    margin: 0 1rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    transition: fill 0.1s;
}
.optionsPaneSelectorItem:hover .optionsPaneSelectorIcon {
    fill: var(--nord4);
}
.optionsPaneSelectorItem:hover {
    background-color: var(--nord3);
}
.optionsPaneSelectorSub {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.optionsPaneSelectorSubItem {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    transition: fill 0.1s;
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    padding: 0.2rem 0 0.2rem 2rem;
}
.optionsPaneSelectorSubIcon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--nord7);
    margin-right: 0.5rem;
    transition: fill 0.1s;
}

.contentGridCenter {
    grid-area: main;
}

.createPost {
    background-color: var(--nord10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    transition: background-color 0.1s;
}
.createPost:hover {
    background-color: var(--nord9);
}

.posts {
    margin-top: 1rem;
}
.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--nord1);
    padding: 1rem;
    font-size: 1rem;
    position: relative;
    color: var(--nord5);
}
.postHeader {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.postAuthor {
    position: absolute;
    top: 1rem;
    right: 5rem;
    font-size: 1.5rem;
    transition: color 0.1s;
}
.postAuthorProfile {
    background-color: var(--nord14);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    position: absolute;
    top: -0.25rem;
    right: -4rem;
}
.postAuthor:hover {
    text-decoration: none;
    color: var(--nord7);
}
.postBodyCode {
    font-family: monospace;
    font-size: 1rem;
    max-width:  calc(100% - 2rem);
    white-space: pre-wrap;
    background-color: var(--nord0);
    padding: 1rem;
    border-top: 0.1rem solid var(--nord7);
    border-left: 0.1rem solid var(--nord7);
    border-bottom: 0.1rem solid var(--nord3);
    border-right: 0.1rem solid var(--nord3);
}


.contentGridRight {
    grid-area: right;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}