.contentGrid {
    display: grid;
    grid-template-columns: var(--grid-left-size) 1fr var(--grid-right-size);
    grid-template-rows: auto;
    grid-template-areas: "left main right";
    grid-gap: var(--grid-gap);
    height: calc(100% - 7rem);
    margin-top: 5rem;
    padding: 2rem 0;
    width: 100%;
    overflow: auto;
}
.contentGridLeft {
    grid-area: left;
}

.contentGridCenter {
    grid-area: main;
    position: relative;
}

.userBanner {
    background-color: rgb(48, 25, 25);
    position: absolute;
    width: 100%;
    height: 10rem;
}

.userContent {
    margin-top: 10rem;
    background-color: var(--nord1);
    min-height: calc(100% - 15rem);
    padding: 2rem;
    position: relative;
    padding-top: 5rem;
}

.userContentUser {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: -2rem;
}
.userContentUserPicture {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: var(--nord14);
}
.userContentUserName {
    margin-left: 1rem;
    font-size: 2rem;
}

.userContentTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.postsContainer {
    background-color: var(--nord0);
}

.contentGridRight {
    grid-area: right;
}

.contentSection {
    width: 100%;
    background-color: var(--nord2);
    padding: 0.5rem 0;
}
.contentSectionTitle {
    margin-left: 1rem;    
}

.followedLanguages {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
}
.followedLanguage {
    display: inline-flex;
    align-items: center;
    background-color: var(--nord10);
    border-radius: 100vh;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem;
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}