.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--nord1);
    padding: 1rem;
    padding-bottom: 0;
    font-size: 1rem;
    position: relative;
    color: var(--nord5);
}
.postDark {
    background-color: var(--nord2);
}
.postHeader {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.postAuthor {
    position: absolute;
    top: 1rem;
    right: 5rem;
    font-size: 1.5rem;
    transition: color 0.1s;
}
.postAuthorProfile {
    background-color: var(--nord14);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    position: absolute;
    top: -0.25rem;
    right: -4rem;
}
.postAuthor:hover {
    text-decoration: none;
    color: var(--nord7);
}
.postBodyCode {
    font-family: monospace;
    font-size: 1rem;
    max-width:  calc(100% - 2rem);
    white-space: pre-wrap;
    background-color: var(--nord0);
    padding: 1rem;
    border-top: 0.1rem solid var(--nord7);
    border-left: 0.1rem solid var(--nord7);
    border-bottom: 0.1rem solid var(--nord3);
    border-right: 0.1rem solid var(--nord3);
    position: relative;
    min-height: 1rem;
}